.ci
.clang-format
.clang-tidy
.git
.git-blame-ignore-revs
.gitattributes
.github
.mailmap

CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.TXT
README.md
SECURITY.md
pyproject.toml

bolt
clang
clang-tools-extra
cmake
compiler-rt
cross-project-tests
flang
integration-test-suite
libc
libclc
libcxx
libcxxabi
libunwind
lld
lldb
llvm
llvm-libgcc
mlir
offload
openmp
polly
pstl
runtimes
third-party
utils
