.ci
.clang-format
.clang-tidy
.git
.git-blame-ignore-revs
.gitattributes
.github
.mailmap

# upstream toplevel files
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.TXT
README.md
SECURITY.md
pyproject.toml

# upstream directories
bolt
clang
clang-tools-extra
cmake
compiler-rt
cross-project-tests
flang
integration-test-suite
libc
libclc
libcxx
libcxxabi
libunwind
lld
lldb
llvm
llvm-libgcc
mlir
offload
openmp
polly
pstl
runtimes
third-party
utils

# build files
build-llvm
build-wasm
stamps
usage-*.svg*

# generated debian files
debian/*.debhelper.log
debian/*.dirs
debian/*.docs
debian/*.examples
debian/*.install
debian/*.links
debian/*.lintian-overrides
debian/*.oinfo.debhelper
debian/*.olist.debhelper
debian/*.manpages
debian/*.substvars
debian/.debhelper

debian/man
debian/tmp
debian/usr

debian/libclang1-19.symbols
debian/libllvm-19-ocaml-dev.META
debian/libomp5-19.symbols
debian/lldb-19.postinst
debian/llvm-19-runtime.binfmt
debian/llvm-19-runtime.binfmt.conf
debian/llvm-19-runtime.postinst
debian/llvm-19-runtime.prerm
debian/pollycc

# package directories
debian/bolt-19
debian/clang-19-doc
debian/clang-19-examples
debian/clang-19
debian/clang-format-19
debian/clang-tidy-19
debian/clang-tools-19
debian/clangd-19
debian/flang-19
debian/libbolt-19-dev
debian/libc++-19-dev-wasm32
debian/libc++-19-dev
debian/libc++1-19
debian/libc++abi-19-dev-wasm32
debian/libc++abi-19-dev
debian/libc++abi1-19
debian/libclang-19-dev
debian/libclang-common-19-dev
debian/libclang-cpp19-dev
debian/libclang-cpp19
debian/libclang-rt-19-dev-wasm32
debian/libclang-rt-19-dev-wasm64
debian/libclang-rt-19-dev
debian/libclang1-19
debian/libclc-19-dev
debian/libclc-19
debian/libflang-19-dev
debian/libfuzzer-19-dev
debian/liblld-19-dev
debian/liblld-19
debian/liblldb-19-dev
debian/liblldb-19
debian/libllvm-19-ocaml-dev
debian/libllvm19
debian/libllvmlibc-19-dev
debian/libmlir-19-dev
debian/libmlir-19
debian/libomp-19-dev
debian/libomp-19-doc
debian/libomp5-19
debian/libpolly-19-dev
debian/libunwind-19-dev
debian/libunwind-19
debian/lld-19
debian/lldb-19
debian/llvm-19-dev
debian/llvm-19-doc
debian/llvm-19-examples
debian/llvm-19-linker-tools
debian/llvm-19-runtime
debian/llvm-19-tools
debian/llvm-19
debian/mlir-19-tools
debian/python3-clang-19
debian/python3-lldb-19
